<div id="canvas-container">
  <div id="tool-container">
    <div
      *ngFor="let color of colors" class="tool-item"
      [ngStyle]="{'background-color': color.hex, 'outline-color': color.hex}"
      (click)="changeColor(color)"
      [ngClass]="color == selectedColor ? 'selected-color' : ''">
    </div>

    <div class="tool-item" (click)="grow()">
      <i class="fa-solid fa-plus"></i>
    </div>

    <div class="tool-item" (click)="shrink()">
      <i class="fa-solid fa-minus"></i>
    </div>

    <div class="tool-item" (click)="clearCanvas(true)">
      <i class="fa-solid fa-xmark"></i>
    </div>

  </div>
  <canvas id="canvas" #canvasRef></canvas>
</div>