#canvas {
  border: 3px solid #000;
  border-radius: 5px;
  background-color: #fff;
}

#canvas-container {
  display: flex;
  justify-content: space-between;
}

#tool-container {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-auto-rows: 30px;
  grid-gap: 15px;
}

.selected-color {
  transform: scale(1.2);
}

.tool-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #313131;
  transition: all .2s ease-in-out;
}

.tool-item:hover:not(.selected-color) {
  cursor: pointer;
  transform: scale(1.1);
}

.tool-item i {
  font-size: 20px;
}