<div id="canvas-container">
  <div id="tool-container">
    <div
      *ngFor="let color of colors" class="tool-item"
      [ngStyle]="{'background-color': color.hex, 'outline-color': color.hex}"
      (click)="changeColor(color)"
      [ngClass]="color == selectedColor ? 'selected-color' : ''">
      <span class="tooltip-text">{{ color.name }}</span>
    </div>

    <div class="tool-item" (click)="grow()">
      <i class="fa-solid fa-maximize"></i>
      <span class="tooltip-text">Grow</span>
    </div>

    <div class="tool-item" (click)="shrink()">
      <i class="fa-solid fa-minimize"></i>
      <span class="tooltip-text">Shrink</span>
    </div>

    <div class="tool-item" (click)="clearCanvas(true)">
      <i class="fa-solid fa-trash"></i>
      <span class="tooltip-text">Clear</span>
    </div>

  </div>
  <canvas id="canvas" #canvasRef></canvas>
</div>